.buttonss{
    
    margin: 100px;
    padding: 30px;
  
    
   
}
.butt{
    padding: 10px;
    margin: 10px;
    /* color: white; */
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
}

.full{
    background-color: black;
}