.full-screen {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100vh;
    background: black;
    text-align: center;
  }
  
  .center-box {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    box-sizing: content-box;
    
  }
  
  .side-box {
    
    display: flex;
    align-items: center;
    justify-content: center;

   
  }
  /* Add this CSS to your Advertise.css file */

/* Zoom effect on images */
.side-box img {
  transition: transform 0.5s ease-in-out;
}

.side-box img:hover {
  transform: scale(1.1); 
}


.video video {
  transition: transform 0.5s ease-in-out;
}

.video video:hover {
  transform: scale(1.1); 
}


  
  