
.col-md-6{
    /* border: 2px solid black;  */
    display: flex;
   justify-content: center;
   align-items: center;
}

.text-boxz{
 
    height: 400px;
    width: 450px;
   
   
}
.headi{
    font-size: 3.6rem;
    line-height: 1;
    letter-spacing: -.056rem;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    opacity: 0.8;
}
.late{
    font-family: TimesNow-ExtraLightItalic;
    font-weight: 50;
    font-size: 3rem;
    line-height: .93;
    letter-spacing: -.11rem;
    box-sizing: border-box;
    color: white;
}
.paraa{
    font-size: 1.1rem;
    line-height: 1.35;
    letter-spacing: .026rem;
    color: White;
}
.text-boxz a{
    display: flex;
    justify-content: center;
    text-decoration: none;
   color: white;
   transition: transform 0.3s, color 0.3s;
    display: inline-block;
   

}
.text-boxz a:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.4);
}

.col-md-6 img{
    height: 600px;
    width: auto;
    max-width: fit-content;
    margin-left: 5rem;
}