.card{
border-radius: 10px;
}
.car-img{
    box-sizing: border-box;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.product-heading {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 54px;

  }